html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
}

body {
background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*.
   Pages.
*/
.login-page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#logout {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: auto;
}