#recipeSubmit {
    position: absolute; /* or absolute */
    top: 5%;
    left: 2%;
    width: 90%;
}

.addCocktail {
    position: absolute; /* or absolute */
    top: 5%;
    left: 2%;
    width: 90%;
}